body {
    background-image: url('../assets/images/monte-olimpo-1920x1080.png'); /* Certifique-se que o caminho está correto */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    font-family: 'Cinzel', serif; 
    margin: 0; 
    overflow: hidden; 
}

.login-container {
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    color: white;
    width: 400px; 
    z-index: 10;
}

.logo {
    width: 300px; 
    margin-bottom: 20px;
}

#login-form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    margin-bottom: 20px;
}

input {
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f4f4f4;
    color: #333;
}

input::placeholder {
    color: #777;
}

button {
    background-color: #5cb85c;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4cae4c;
}

#error-message {
    color: #d9534f; 
    margin-top: 10px;
}

.column {
    position: absolute; 
}

.column-left {
    left: 10px; 
    bottom: 0;
    height: auto; 
    max-width: 400px; 
}

.column-right {
    right: 10px; 
    bottom: 0;
    height: auto;
    max-width: 400px;
}