html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.display {
    background-image: url('assets/images/monte-olimpo-1920x1080.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    width: 100vw;
    padding: 0;
    border: none;
    display: flex;
    justify-content: space-between; /* Coloca as imagens lado a lado */
    align-items: center; /* Alinha as imagens verticalmente */
}

.background-img {
    width: 70%; /* Ajuste a largura da imagem de fundo */
    height: auto;
}

.camp-img {
    width: 30%; /* Ajusta o tamanho da imagem do Camp Half-Blood */
    height: auto;
    transition: width 0.5s ease, transform 0.5s ease;
}

/* Efeito hover para a imagem do Camp Half-Blood */
.camp-img:hover {
    width: 35%;
    transform: scale(1.1);
}
